<a href="https://colab.research.google.com/github/jinijinhee/Association/blob/main/%EC%A0%84%EC%B2%98%EB%A6%AC%EC%B5%9C%EC%A2%85%EC%9D%B4%EA%B8%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#공유자동차 2차 전처리

## 데이터 할당

In [95]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [96]:
import pandas as pd
import numpy as np
import math
import pandas as pd

In [97]:
df_day = pd.read_csv('./drive/MyDrive/df_주간_full.csv')
df_off = pd.read_csv('./drive/MyDrive/df_야간_full.csv')

##전처리

###시간대 변수 추가

In [98]:
#datetime으로 변환
df_day['s_Datetime'] = pd.to_datetime(df_day['s_date'], format="%Y-%m-%d %H:%M")
df_day['e_Datetime'] = pd.to_datetime(df_day['e_date'], format="%Y-%m-%d %H:%M")

#시작시간 분리
df_day['s_hour'] = df_day['s_Datetime'].dt.hour

#datetime으로 변환
df_off['s_Datetime'] = pd.to_datetime(df_off['s_date'], format="%Y-%m-%d %H:%M")
df_off['e_Datetime'] = pd.to_datetime(df_off['e_date'], format="%Y-%m-%d %H:%M")

#시작시간 분리
df_off['s_hour'] = df_off['s_Datetime'].dt.hour

In [99]:
def divide_hour(x):
  if (x >= 0) & (x <= 5):
    return 0
  
  else :
    return 1

In [100]:
df_day['day_or_night'] = df_day['s_hour'].apply(lambda x: divide_hour(x))
df_off['day_or_night'] = df_off['s_hour'].apply(lambda x: divide_hour(x))

In [101]:
df_day = df_day[df_day['day_or_night'] == 1]
df_off = df_off[df_off['day_or_night'] == 0]

In [102]:
df=pd.concat([df_day,df_off])
df

,s_date,e_date,s_lat,s_lng,e_lat,e_lng,max_rpm,s20,s30,s40,...,e_teukbyulsi/goon/gu,e_dong/eup/myun,road_list,duration,fee,root_dist,s_Datetime,e_Datetime,s_hour,day_or_night
0,2022-02-21 8:00,2022-02-21 8:00,35.157008,128.946497,35.186963,128.820095,0.000000,0,0,0,...,김해시,장유면,NaN,NaN,NaN,NaN,2022-02-21 08:00:00,2022-02-21 08:00:00,8,1
4,2022-04-04 23:00,2022-04-04 23:00,37.561478,126.830995,37.553017,126.811130,3051.400000,118,136,87,...,김포공항화물청사,NaN,정체 마곡중앙8로 248m 서행 공항대로 2.3km 서행 하늘길 410m,13분,"6,000원",4.4km,2022-04-04 23:00:00,2022-04-04 23:00:00,23,1
6,2022-04-05 8:00,2022-04-05 9:00,37.560787,126.839847,37.580907,126.920642,2788.680000,289,311,138,...,서대문구,증가로12나길,정체 올림픽대로 2.3km 서행 가양대로 2.1km 서행 수색로 3km,30분,"13,390원",12km,2022-04-05 08:00:00,2022-04-05 09:00:00,8,1
8,2022-04-07 6:00,2022-04-07 7:00,37.559647,126.834142,37.580973,126.920535,4501.570000,271,209,245,...,서대문구,증가로12나길,정체 올림픽대로 2.3km 서행 가양대로 2.1km 서행 수색로 3km,32분,"13,790원",12km,2022-04-07 06:00:00,2022-04-07 07:00:00,6,1
9,2022-04-07 21:00,2022-04-07 21:00,37.559500,126.837552,37.558408,126.834615,2055.300000,48,49,28,...,강서구,발산1동,정체 마곡중앙6로 396m 정체 마곡동로 153m 정체 공항대로 40m,3분,"3,800원",695m,2022-04-07 21:00:00,2022-04-07 21:00:00,21,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18659,2022-01-07 0:00,2022-01-07 1:00,35.176950,128.950843,35.176718,128.950958,901.130000,0,0,0,...,강서구,대저2동,미확인 공항앞길 15m,1분,"4,550원",25m,2022-01-07 00:00:00,2022-01-07 01:00:00,0,0
18663,2022-01-08 2:00,2022-01-08 2:00,35.176622,128.950603,35.225837,128.885267,2181.600000,242,485,419,...,김해시,부원동,미확인 공항로 2.9km 원활 낙동북로 4.3km 원활 김해대로 4.4km,17분,"20,750원",14km,2022-01-08 02:00:00,2022-01-08 02:00:00,2,0
18665,2022-01-11 2:00,2022-01-11 2:00,35.176665,128.950713,35.176667,128.950685,1518.720000,0,0,0,...,강서구,대저2동,NaN,1분,"4,550원",3m,2022-01-11 02:00:00,2022-01-11 02:00:00,2,0
18667,2022-01-12 3:00,2022-01-12 3:00,35.176910,128.950972,35.116442,129.041988,3574.320000,158,280,319,...,동구,초량동,서행 남해제2고속도로지선 2.8km 원활 학감대로 2km 원활 보수대로 3.6km,21분,"20,410원",15km,2022-01-12 03:00:00,2022-01-12 03:00:00,3,0
18668,2022-02-10 3:00,2022-02-10 3:00,35.163775,128.954238,35.153367,128.985040,1844.784546,129,65,90,...,사상구,감전동,미확인 공항로 709m 서행 남해제2고속도로지선 2.8km 서행 가야대로 940m,8분,"9,790원",5.9km,2022-02-10 03:00:00,2022-02-10 03:00:00,3,0

###road_split

In [103]:
df

,s_date,e_date,s_lat,s_lng,e_lat,e_lng,max_rpm,s20,s30,s40,...,e_teukbyulsi/goon/gu,e_dong/eup/myun,road_list,duration,fee,root_dist,s_Datetime,e_Datetime,s_hour,day_or_night
0,2022-02-21 8:00,2022-02-21 8:00,35.157008,128.946497,35.186963,128.820095,0.000000,0,0,0,...,김해시,장유면,NaN,NaN,NaN,NaN,2022-02-21 08:00:00,2022-02-21 08:00:00,8,1
4,2022-04-04 23:00,2022-04-04 23:00,37.561478,126.830995,37.553017,126.811130,3051.400000,118,136,87,...,김포공항화물청사,NaN,정체 마곡중앙8로 248m 서행 공항대로 2.3km 서행 하늘길 410m,13분,"6,000원",4.4km,2022-04-04 23:00:00,2022-04-04 23:00:00,23,1
6,2022-04-05 8:00,2022-04-05 9:00,37.560787,126.839847,37.580907,126.920642,2788.680000,289,311,138,...,서대문구,증가로12나길,정체 올림픽대로 2.3km 서행 가양대로 2.1km 서행 수색로 3km,30분,"13,390원",12km,2022-04-05 08:00:00,2022-04-05 09:00:00,8,1
8,2022-04-07 6:00,2022-04-07 7:00,37.559647,126.834142,37.580973,126.920535,4501.570000,271,209,245,...,서대문구,증가로12나길,정체 올림픽대로 2.3km 서행 가양대로 2.1km 서행 수색로 3km,32분,"13,790원",12km,2022-04-07 06:00:00,2022-04-07 07:00:00,6,1
9,2022-04-07 21:00,2022-04-07 21:00,37.559500,126.837552,37.558408,126.834615,2055.300000,48,49,28,...,강서구,발산1동,정체 마곡중앙6로 396m 정체 마곡동로 153m 정체 공항대로 40m,3분,"3,800원",695m,2022-04-07 21:00:00,2022-04-07 21:00:00,21,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18659,2022-01-07 0:00,2022-01-07 1:00,35.176950,128.950843,35.176718,128.950958,901.130000,0,0,0,...,강서구,대저2동,미확인 공항앞길 15m,1분,"4,550원",25m,2022-01-07 00:00:00,2022-01-07 01:00:00,0,0
18663,2022-01-08 2:00,2022-01-08 2:00,35.176622,128.950603,35.225837,128.885267,2181.600000,242,485,419,...,김해시,부원동,미확인 공항로 2.9km 원활 낙동북로 4.3km 원활 김해대로 4.4km,17분,"20,750원",14km,2022-01-08 02:00:00,2022-01-08 02:00:00,2,0
18665,2022-01-11 2:00,2022-01-11 2:00,35.176665,128.950713,35.176667,128.950685,1518.720000,0,0,0,...,강서구,대저2동,NaN,1분,"4,550원",3m,2022-01-11 02:00:00,2022-01-11 02:00:00,2,0
18667,2022-01-12 3:00,2022-01-12 3:00,35.176910,128.950972,35.116442,129.041988,3574.320000,158,280,319,...,동구,초량동,서행 남해제2고속도로지선 2.8km 원활 학감대로 2km 원활 보수대로 3.6km,21분,"20,410원",15km,2022-01-12 03:00:00,2022-01-12 03:00:00,3,0
18668,2022-02-10 3:00,2022-02-10 3:00,35.163775,128.954238,35.153367,128.985040,1844.784546,129,65,90,...,사상구,감전동,미확인 공항로 709m 서행 남해제2고속도로지선 2.8km 서행 가야대로 940m,8분,"9,790원",5.9km,2022-02-10 03:00:00,2022-02-10 03:00:00,3,0

In [104]:
df['road_1'] = df["road_list"].str.split(" ", expand=True)[1]
df['road_1t'] = df["road_list"].str.split(" ", expand=True)[2]
df['road_2'] = df["road_list"].str.split(" ", expand=True)[4]
df['road_2t'] = df["road_list"].str.split(" ", expand=True)[5]
df['road_3'] = df["road_list"].str.split(" ", expand=True)[7]
df['road_3t'] = df["road_list"].str.split(" ", expand=True)[8]
df.tail()

,s_date,e_date,s_lat,s_lng,e_lat,e_lng,max_rpm,s20,s30,s40,...,s_Datetime,e_Datetime,s_hour,day_or_night,road_1,road_1t,road_2,road_2t,road_3,road_3t
18659,2022-01-07 0:00,2022-01-07 1:00,35.176950,128.950843,35.176718,128.950958,901.130000,0,0,0,...,2022-01-07 00:00:00,2022-01-07 01:00:00,0,0,공항앞길,15m,None,None,None,None
18663,2022-01-08 2:00,2022-01-08 2:00,35.176622,128.950603,35.225837,128.885267,2181.600000,242,485,419,...,2022-01-08 02:00:00,2022-01-08 02:00:00,2,0,공항로,2.9km,낙동북로,4.3km,김해대로,4.4km
18665,2022-01-11 2:00,2022-01-11 2:00,35.176665,128.950713,35.176667,128.950685,1518.720000,0,0,0,...,2022-01-11 02:00:00,2022-01-11 02:00:00,2,0,NaN,NaN,NaN,NaN,NaN,NaN
18667,2022-01-12 3:00,2022-01-12 3:00,35.176910,128.950972,35.116442,129.041988,3574.320000,158,280,319,...,2022-01-12 03:00:00,2022-01-12 03:00:00,3,0,남해제2고속도로지선,2.8km,학감대로,2km,보수대로,3.6km
18668,2022-02-10 3:00,2022-02-10 3:00,35.163775,128.954238,35.153367,128.985040,1844.784546,129,65,90,...,2022-02-10 03:00:00,2022-02-10 03:00:00,3,0,공항로,709m,남해제2고속도로지선,2.8km,가야대로,940m

In [105]:
df['road_1'].fillna('-',inplace=True)
df['road_2'].fillna('-',inplace=True)
df['road_3'].fillna('-',inplace=True)

df['road_1t'].fillna('0km',inplace=True)
df['road_2t'].fillna('0km',inplace=True)
df['road_3t'].fillna('0km',inplace=True)

In [106]:
df['path'] = df['road_1'] +',' + df['road_2'] +',' +  df['road_3']

In [107]:
df.path.apply(lambda x : x.strip(','))

0                       -,-,-
4             마곡중앙8로,공항대로,하늘길
6              올림픽대로,가양대로,수색로
8              올림픽대로,가양대로,수색로
9            마곡중앙6로,마곡동로,공항대로
                 ...
18659                공항앞길,-,-
18663           공항로,낙동북로,김해대로
18665                   -,-,-
18667    남해제2고속도로지선,학감대로,보수대로
18668     공항로,남해제2고속도로지선,가야대로
Name: path, Length: 18669, dtype: object

### 시간(duration) 전처리

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18669 entries, 0 to 18668
Data columns (total 49 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   s_date                18669 non-null  object
 1   e_date                18669 non-null  object
 2   s_lat                 18669 non-null  float64
 3   s_lng                 18669 non-null  float64
 4   e_lat                 18669 non-null  float64
 5   e_lng                 18669 non-null  float64
 6   max_rpm               18669 non-null  float64
 7   s20                   18669 non-null  int64
 8   s30                   18669 non-null  int64
 9   s40                   18669 non-null  int64
 10  s50                   18669 non-null  int64
 11  s60                   18669 non-null  int64
 12  s70                   18669 non-null  int64
 13  s80                   18669 non-null  int64
 14  s90                   18669 non-null  int64
 15  s100                  18669 non-null  int64
 16  s110                  18669 non-null  int64
 17  s120                  18669 non-null  int64
 18  s130                  18669 non-null  int64
 19  s140                  18669 non-null  int64
 20  s150                  18669 non-null  int64
 21  start_gps             18669 non-null  object
 22  end_gps               18669 non-null  object
 23  distance              18669 non-null  float64
 24  airport_start         18669 non-null  bool
 25  airport_end           18669 non-null  bool
 26  start_add             18669 non-null  object
 27  end_add               18669 non-null  object
 28  s_teukbyul_si/do      18669 non-null  object
 29  s_teukbyulsi/goon/gu  18669 non-null  object
 30  s_dong/eup/myun       18456 non-null  object
 31  e_teukbyulsi/do       18669 non-null  object
 32  e_teukbyulsi/goon/gu  18669 non-null  object
 33  e_dong/eup/myun       18363 non-null  object
 34  road_list             12521 non-null  object
 35  duration              15490 non-null  object
 36  fee                   15490 non-null  object
 37  root_dist             15490 non-null  object
 38  s_Datetime            18669 non-null  datetime64[ns]
 39  e_Datetime            18669 non-null  datetime64[ns]
 40  s_hour                18669 non-null  int64
 41  day_or_night          18669 non-null  int64
 42  road_1                18669 non-null  object
 43  road_1t               18669 non-null  object
 44  road_2                18669 non-null  object
 45  road_2t               18669 non-null  object
 46  road_3                18669 non-null  object
 47  road_3t               18669 non-null  object
 48  path                  18669 non-null  object
dtypes: bool(2), datetime64[ns](2), float64(6), int64(16), object(23)
memory usage: 6.9+ MB

In [109]:
df.dropna(subset=['duration'], inplace = True)

In [110]:
def calc_time(x) :
  x = x.replace('분', '')
  if '시간' in x :
    try :
      hour, min = x.split('시간 ')
      a = int(hour)*60 + int(min)
    except ValueError:
      hour = x.replace('시간', '')
      a = int(hour)*60
  else :
    a = int(x)
  return a

In [111]:
df['duration(min)'] = df.duration.apply(lambda x : calc_time(x))
df.drop('duration', axis =1, inplace = True)
df.head()

,s_date,e_date,s_lat,s_lng,e_lat,e_lng,max_rpm,s20,s30,s40,...,s_hour,day_or_night,road_1,road_1t,road_2,road_2t,road_3,road_3t,path,duration(min)
4,2022-04-04 23:00,2022-04-04 23:00,37.561478,126.830995,37.553017,126.811130,3051.40,118,136,87,...,23,1,마곡중앙8로,248m,공항대로,2.3km,하늘길,410m,"마곡중앙8로,공항대로,하늘길",13
6,2022-04-05 8:00,2022-04-05 9:00,37.560787,126.839847,37.580907,126.920642,2788.68,289,311,138,...,8,1,올림픽대로,2.3km,가양대로,2.1km,수색로,3km,"올림픽대로,가양대로,수색로",30
8,2022-04-07 6:00,2022-04-07 7:00,37.559647,126.834142,37.580973,126.920535,4501.57,271,209,245,...,6,1,올림픽대로,2.3km,가양대로,2.1km,수색로,3km,"올림픽대로,가양대로,수색로",32
9,2022-04-07 21:00,2022-04-07 21:00,37.559500,126.837552,37.558408,126.834615,2055.30,48,49,28,...,21,1,마곡중앙6로,396m,마곡동로,153m,공항대로,40m,"마곡중앙6로,마곡동로,공항대로",3
10,2022-04-07 23:00,2022-04-08 0:00,37.558408,126.834615,37.514610,126.828983,2840.31,163,160,183,...,23,1,강서로,1.9km,화곡로,1.3km,남부순환로,2.8km,"강서로,화곡로,남부순환로",24

In [112]:
df

,s_date,e_date,s_lat,s_lng,e_lat,e_lng,max_rpm,s20,s30,s40,...,s_hour,day_or_night,road_1,road_1t,road_2,road_2t,road_3,road_3t,path,duration(min)
4,2022-04-04 23:00,2022-04-04 23:00,37.561478,126.830995,37.553017,126.811130,3051.400000,118,136,87,...,23,1,마곡중앙8로,248m,공항대로,2.3km,하늘길,410m,"마곡중앙8로,공항대로,하늘길",13
6,2022-04-05 8:00,2022-04-05 9:00,37.560787,126.839847,37.580907,126.920642,2788.680000,289,311,138,...,8,1,올림픽대로,2.3km,가양대로,2.1km,수색로,3km,"올림픽대로,가양대로,수색로",30
8,2022-04-07 6:00,2022-04-07 7:00,37.559647,126.834142,37.580973,126.920535,4501.570000,271,209,245,...,6,1,올림픽대로,2.3km,가양대로,2.1km,수색로,3km,"올림픽대로,가양대로,수색로",32
9,2022-04-07 21:00,2022-04-07 21:00,37.559500,126.837552,37.558408,126.834615,2055.300000,48,49,28,...,21,1,마곡중앙6로,396m,마곡동로,153m,공항대로,40m,"마곡중앙6로,마곡동로,공항대로",3
10,2022-04-07 23:00,2022-04-08 0:00,37.558408,126.834615,37.514610,126.828983,2840.310000,163,160,183,...,23,1,강서로,1.9km,화곡로,1.3km,남부순환로,2.8km,"강서로,화곡로,남부순환로",24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18659,2022-01-07 0:00,2022-01-07 1:00,35.176950,128.950843,35.176718,128.950958,901.130000,0,0,0,...,0,0,공항앞길,15m,-,0km,-,0km,"공항앞길,-,-",1
18663,2022-01-08 2:00,2022-01-08 2:00,35.176622,128.950603,35.225837,128.885267,2181.600000,242,485,419,...,2,0,공항로,2.9km,낙동북로,4.3km,김해대로,4.4km,"공항로,낙동북로,김해대로",17
18665,2022-01-11 2:00,2022-01-11 2:00,35.176665,128.950713,35.176667,128.950685,1518.720000,0,0,0,...,2,0,-,0km,-,0km,-,0km,"-,-,-",1
18667,2022-01-12 3:00,2022-01-12 3:00,35.176910,128.950972,35.116442,129.041988,3574.320000,158,280,319,...,3,0,남해제2고속도로지선,2.8km,학감대로,2km,보수대로,3.6km,"남해제2고속도로지선,학감대로,보수대로",21
18668,2022-02-10 3:00,2022-02-10 3:00,35.163775,128.954238,35.153367,128.985040,1844.784546,129,65,90,...,3,0,공항로,709m,남해제2고속도로지선,2.8km,가야대로,940m,"공항로,남해제2고속도로지선,가야대로",8

###요금(fee) 전처리

In [113]:
df.fee.replace(',','',regex=True,inplace=True)
df.fee.replace('원','',regex=True,inplace=True)
df.fee = df.fee.apply(pd.to_numeric)

###총 거리(root_dist) 전처리

In [114]:
def root_dist_def(x) :
  if 'km' in x :
    x = x.replace('km', '')
    pass
  else :
    x = float(x.replace('m', ''))*0.001
  return x

In [115]:
df['root_dist(km)'] = df.root_dist.apply(lambda x : root_dist_def(x))
df.drop('root_dist', axis =1, inplace = True)
df['root_dist(km)'] = df['root_dist(km)'].apply(pd.to_numeric)

In [116]:
df['root_dist(km)']

4         4.400
6        12.000
8        12.000
9         0.695
10        7.500
          ...
18659     0.025
18663    14.000
18665     0.003
18667    15.000
18668     5.900
Name: root_dist(km), Length: 15490, dtype: float64

In [117]:
df['road_1t(km)'] = df.road_1t.apply(lambda x : root_dist_def(x))
df.drop('road_1t', axis =1, inplace = True)
df['road_1t(km)'] = df['road_1t(km)'].apply(pd.to_numeric)

df['road_2t(km)'] = df.road_2t.apply(lambda x : root_dist_def(x))
df.drop('road_2t', axis =1, inplace = True)
df['road_2t(km)'] = df['road_2t(km)'].apply(pd.to_numeric)

df['road_3t(km)'] = df.road_3t.apply(lambda x : root_dist_def(x))
df.drop('road_3t', axis =1, inplace = True)
df['road_3t(km)'] = df['road_3t(km)'].apply(pd.to_numeric)

In [118]:
df

,s_date,e_date,s_lat,s_lng,e_lat,e_lng,max_rpm,s20,s30,s40,...,day_or_night,road_1,road_2,road_3,path,duration(min),root_dist(km),road_1t(km),road_2t(km),road_3t(km)
4,2022-04-04 23:00,2022-04-04 23:00,37.561478,126.830995,37.553017,126.811130,3051.400000,118,136,87,...,1,마곡중앙8로,공항대로,하늘길,"마곡중앙8로,공항대로,하늘길",13,4.400,0.248,2.300,0.41
6,2022-04-05 8:00,2022-04-05 9:00,37.560787,126.839847,37.580907,126.920642,2788.680000,289,311,138,...,1,올림픽대로,가양대로,수색로,"올림픽대로,가양대로,수색로",30,12.000,2.300,2.100,3.00
8,2022-04-07 6:00,2022-04-07 7:00,37.559647,126.834142,37.580973,126.920535,4501.570000,271,209,245,...,1,올림픽대로,가양대로,수색로,"올림픽대로,가양대로,수색로",32,12.000,2.300,2.100,3.00
9,2022-04-07 21:00,2022-04-07 21:00,37.559500,126.837552,37.558408,126.834615,2055.300000,48,49,28,...,1,마곡중앙6로,마곡동로,공항대로,"마곡중앙6로,마곡동로,공항대로",3,0.695,0.396,0.153,0.04
10,2022-04-07 23:00,2022-04-08 0:00,37.558408,126.834615,37.514610,126.828983,2840.310000,163,160,183,...,1,강서로,화곡로,남부순환로,"강서로,화곡로,남부순환로",24,7.500,1.900,1.300,2.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18659,2022-01-07 0:00,2022-01-07 1:00,35.176950,128.950843,35.176718,128.950958,901.130000,0,0,0,...,0,공항앞길,-,-,"공항앞길,-,-",1,0.025,0.015,0.000,0.00
18663,2022-01-08 2:00,2022-01-08 2:00,35.176622,128.950603,35.225837,128.885267,2181.600000,242,485,419,...,0,공항로,낙동북로,김해대로,"공항로,낙동북로,김해대로",17,14.000,2.900,4.300,4.40
18665,2022-01-11 2:00,2022-01-11 2:00,35.176665,128.950713,35.176667,128.950685,1518.720000,0,0,0,...,0,-,-,-,"-,-,-",1,0.003,0.000,0.000,0.00
18667,2022-01-12 3:00,2022-01-12 3:00,35.176910,128.950972,35.116442,129.041988,3574.320000,158,280,319,...,0,남해제2고속도로지선,학감대로,보수대로,"남해제2고속도로지선,학감대로,보수대로",21,15.000,2.800,2.000,3.60
18668,2022-02-10 3:00,2022-02-10 3:00,35.163775,128.954238,35.153367,128.985040,1844.784546,129,65,90,...,0,공항로,남해제2고속도로지선,가야대로,"공항로,남해제2고속도로지선,가야대로",8,5.900,0.709,2.800,0.94